# Ignore Mac system files
.DS_Store

# Ignore PyCharm project settings
.idea/

# Ignore Python compiled files
__pycache__/

# Ignore Virtual environment folder
myenv/

# Other file patterns
*.log
*.tmp
